---
import { Image } from "astro:assets";

interface Option {
  value: string;
  label: string;
  icon?: ImageMetadata;
}

interface Props {
  id: string;
  options: Option[];
  current: Option;
  className?: string;
}

const { id = "lang-select", options, current, className } = Astro.props;
---

<div class:list={["relative inline-block", className]} id={id}>
  <details class="group h-full">
    <summary
      class="flex items-center justify-between gap-2.5 bg-white cursor-pointer h-full list-inside"
    >
      <div class="flex items-center gap-2 h-full w-full">
        {
          current.icon && (
            <Image
              src={current.icon}
              alt={current.label}
              width={20}
              height={20}
              class="w-5 h-5 rounded pt-1"
              id="current-icon"
            />
          )
        }
        <span
          class="text-3xl pt-2"
          id="current-label"
        >
          {current.label}
        </span>
      </div>
      <svg
        class="w-4 h-4 text-gray-500 group-open:rotate-180 transition-transform"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <ul
      class="absolute z-10 min-w-[140px] mt-1 bg-white border border-gray-200 rounded-lg shadow-lg"
    >
      {
        options.map((option) => (
          <li
            class="flex justify-center items-center gap-5 px-3 py-2 text-3xl hover:bg-gray-100 cursor-pointer"
            data-value={option.value}
          >
            {option.icon && (
              <Image
                src={option.icon}
                alt={option.label}
                width={20}
                height={20}
                class="w-5 h-5 rounded"
              />
            )}
            <span class="text-3xl pt-1">{option.label}</span>
          </li>
        ))
      }
    </ul>
  </details>
</div>
