---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/index.astro";
import Button from "@/components/ui/Button.astro";
import WhatsAppIcon from "@/assets/icons/whatsapp.svg";
import BusinessMlc from "@/assets/icons/mlc-business.svg";
import Carousel from "@/components/ui/Carousel.astro";
import Home from "@/components/home/index.astro";
import ModerWhite from "@/assets/images/mlc-white.png";
import FacebookIcon from "@/assets/icons/facebook.svg";
import Accordion from "@/components/ui/Accordion.astro";
import { languages } from "@/constants";

const { lang = "es" } = Astro.params;
---

<Layout lang={lang} title="Home - Modern Language Center" description="">
  <Header slot="header" />

  <Home />

  <!-- <section class="relative bg-mlc-blue-gradient"> -->

  <!-- <section class="relative h-[1080px] w-[1750px] flex items-end mx-auto">
      <figure class="w-[80%] margin-auto absolute bottom-0">
        <img src="/src/assets/images/bg-home.png" alt="" />
      </figure>
      <section class="absolute top-[27%] right-20 flex flex-col items-end">
        <BusinessMlc width="429" height="190" class="" />
        <section class="course-description">
          <h2 class="text-[#ACD3FF]">Comunicación</h2>
          <h2 class="text-[#F7F7F7]">efectiva y liderazgo</h2>
          <h2 class="text-[#ACD3FF]">internacional</h2>
        </section>
        <h3 class="text-white text-[42px]">En tu idioma objetivo</h3>
        <Button variant="mlc" class="mt-[49px] text-[25px]">
          <span slot="first-text">Lo quiero</span>
          <span slot="second-text">¡Cotizar ya!</span>
        </Button>
      </section>
    </section>
     -->

  <!-- Carrusel completo con imágenes -->
  <!-- <div>
      <h2 class="text-2xl font-bold mb-4">Carrusel con Imágenes</h2>
      <Carousel
        slides={imageSlides}
        autoplay={true}
        interval={4000}
        height="h-80"
        showIndicators={true}
        showNavigation={true}
        showControls={true}
      />
    </div> -->

  <!-- Carrusel con SLOTS - Contenido completamente personalizado -->
  <!-- <div>
      <Carousel
        slideCount={2}
        autoplay={true}
        interval={3000}
        height="h-[100dvh]"
      >
        <div
          class="absolute inset-0 opacity-100 transition-opacity duration-500 ease-in-out bg-mlc-blue-gradient"
          data-carousel-slide={"carouselId-1"}
        >
          <section
            class="relative h-[1080px] w-[1750px] flex items-end mx-auto"
          >
            <figure class="w-[80%] margin-auto absolute bottom-0">
              <img src="/src/assets/images/bg-home.png" alt="" />
            </figure>
            <section
              class="absolute top-[27%] right-20 flex flex-col items-end"
            >
              <BusinessMlc width="429" height="190" class="" />
              <section class="course-description">
                <h2 class="text-[#ACD3FF]">Comunicación</h2>
                <h2 class="text-[#F7F7F7]">efectiva y liderazgo</h2>
                <h2 class="text-[#ACD3FF]">internacional</h2>
              </section>
              <h3 class="text-white text-[42px]">En tu idioma objetivo</h3>
              <Button variant="mlc" class="mt-[49px] text-[25px]">
                <span slot="first-text">Lo quiero</span>
                <span slot="second-text">¡Cotizar ya!</span>
              </Button>
            </section>
          </section>
        </div>

        <div
          class="absolute inset-0 opacity-100 transition-opacity duration-500 ease-in-out bg-green-800"
          data-carousel-slide={"carouselId-1"}
        >
          <section
            class="relative h-[1080px] w-[1750px] flex items-end mx-auto"
          >
            <figure class="w-[80%] margin-auto absolute bottom-0">
              <img src="/src/assets/images/bg-home.png" alt="" />
            </figure>
            <section
              class="absolute top-[27%] right-20 flex flex-col items-end"
            >
              <BusinessMlc width="429" height="190" class="" />
              <section class="course-description">
                <h2 class="text-[#ACD3FF]">Comunicación</h2>
                <h2 class="text-[#F7F7F7]">efectiva y liderazgo</h2>
                <h2 class="text-[#ACD3FF]">internacional</h2>
              </section>
              <h3 class="text-white text-[42px]">En tu idioma objetivo</h3>
              <Button variant="mlc" class="mt-[49px] text-[25px]">
                <span slot="first-text">Lo quiero</span>
                <span slot="second-text">¡Cotizar ya!</span>
              </Button>
            </section>
          </section>
        </div>
      </Carousel>
    </div> -->
  <!-- </section> -->
</Layout>
<!-- <WhatsAppIcon
width="60"
height="60"
class="absolute bottom-[80px] right-[89px] z-50"
/> -->
<footer slot="footer" class="bg-mlc-blue-gradient">
  <div class="flex flex-col items-center px-8 text-center text-xl text-[#7FD6FC]">
    <img src={ModerWhite.src} alt="" class="w-[158px] mb-5" />
    <p>© 2021 by The Modern Language Center Organization S.C.</p>
    <p>Consulta aquí nuestro Aviso de Privacidad</p>

    <FacebookIcon width="35" height="35" class="text-white mt-5" />
    <Accordion label="Idiomas" class="footer-accordion mt-9 border-b-2 border-[#7FD6FC]">
      <ul class="text-[20px] text-[#7FD6FC]">
        {languages.map((language) => <li>{language}</li>)}
      </ul>
    </Accordion>
    <Accordion label="Contacto" class="footer-accordion border-b-2 border-[#7FD6FC]">
      <div class="text-[20px] text-[#7FD6FC]">
        <p>Av. Miguel Angel de Quevedo 24,</p>
        <p>Int 203, Col Chimalistac, CDMX</p>
        <p>hello@modernlanguagecenter.com</p>
        <p>55 7824 9081</p>
      </div>
    </Accordion>

    <p class="text-[#7FD6FC] pt-20 pb-16">Todos los derechos reservados</p>
  </div>
</footer>

<script>
  import { initAccordions } from "@/scripts/ui-events/accordion";
  document.addEventListener("DOMContentLoaded", () => {
    initAccordions();
  });
</script>
